.first, .second {
    float: left;
}

.container-fluid {
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 100px;
}

.dropbtn {
    width: 100px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
a:hover {
   cursor: pointer;
}
.margin {
    margin-left: 5px;
}

.dropbtn:hover, .dropbtn:focus, .dropbtn {
    background-color: rgb(239 154 18);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}