body {
    background: white;
    margin: 0;
}

.first {
    float: left;
}

.second {
    float: left;
}

h1 {
    margin: 0;
}

.container-fluid {
    padding-left: 0 !important;
    padding-bottom: 100px;
    margin-left: 0 !important;
}

.dropbtn {
    background-color: rgb(240, 174, 76);
    width: 100px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(240, 174, 76);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}